@import 'tailwindcss';

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

@theme inline {
  --font-sans: var(--font-red-hat-text);
  --font-display: var(--font-red-hat-display);
  --font-mono: var(--font-roboto-mono);
}

body {
  margin: 0;
}
