@import 'tailwindcss';

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

@theme inline {
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-mono);
}

body {
  margin: 0;
}
