@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-roboto);
  --font-display: var(--font-roboto-condensed);
  --font-mono: var(--font-roboto-mono);
}

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
}
